body {
    background-color: aliceblue;
}
.card {
    border: 2px solid white;
    border-radius: 5%;
    background-color: aliceblue;
    margin-top: 15px;
}

.thumbnail {
    padding: 5px;
    border-radius: 20px;
}
.card-text{
    display: flex;
    justify-content: space-between;
}